#Repositories{
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: space-around;
}

#Header-Owner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 31%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 13px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}  

.card-header{
    text-align: center;
    font-weight: bold;
}

.card-body{
    text-align: center;
    padding: 5px;
}